<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655788872875-juo5t6aqjathbh9hbnjhkn02cfh2kus4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655788872875-juo5t6aqjathbh9hbnjhkn02cfh2kus4</string>
	<key>API_KEY</key>
	<string>AIzaSyABdQWOLck2VQIVqMcEez758i2e613zPC0</string>
	<key>GCM_SENDER_ID</key>
	<string>655788872875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pagunlocal</string>
	<key>PROJECT_ID</key>
	<string>pagun-local</string>
	<key>STORAGE_BUCKET</key>
	<string>pagun-local.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655788872875:ios:7e3517f596dd4f8e4513ee</string>
</dict>
</plist>